

<!-- Page content inputs -->
<ion-content class="background">
    
	<ion-card>
		<ion-card-content>
			<ion-list>
        <!-- logo on top of page -->
        <ion-item>
            <ion-row>
                
                <ion-col>
                  <img src="assets/custom/img/logo.svg" height="160px" width="160%">
                </ion-col>
                
              </ion-row>
        </ion-item>

         <!--Adding Textfields for user input  -->
        
         <ion-item >
					<ion-label color="dark" item-left>
                  <ion-icon name="md-mail"></ion-icon>
                </ion-label>
              <ion-input class="ion-input" type="text" placeholder="User Name" [(ngModel)]="userEmail" name="userEmail"></ion-input>
          </ion-item>

          <!-- Password Field with show/hide option controls-->
          <ion-item>
              <ion-label color="dark" item-left>
                  <ion-icon name="md-lock"></ion-icon>
                </ion-label>
              <ion-input class="ion-input" [(ngModel)]="password" type="{{type}}" placeholder="Password" name="password"></ion-input>
              
              <button  class="ion-input-button" *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye-off"></ion-icon></button>
              <button  class="ion-input-button" *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye"></ion-icon></button>
              
          </ion-item>
      <!--Forgot Password Link -->
          <ion-row>
               <ion-col></ion-col>
               <ion-col>
                  <button ion-button clear color="button-color" style="text-align:right" (click)="forgotPassword()">Forgot Password</button>
               </ion-col>
             </ion-row>
            <!--Login Button -->
				<button style="height:48px" ion-button block color="button-color" (click)="onLogin()">Log in</button>
			
			</ion-list>
		</ion-card-content>
  </ion-card>
  <!-- Create New Account Link -->
  <button class="bottom" ion-button clear full color="dark" (click)="navToSignup()">Don't have an Account?  <b><p><font color="#009688">&nbsp;Sign Up</font></p></b></button>
</ion-content>
<!--End content -->